[submodule "LDHA-django"]
	path = LDHA-django
	url = https://github.com/Parsa-19/LDHA-django.git
[submodule "LDHA-laravel"]
	path = LDHA-laravel
	url = https://github.com/Parsa-19/LDHA-laravel.git
[submodule "LDHA-haproxy"]
	path = LDHA-haproxy
	url = https://github.com/Parsa-19/LDHA-haproxy.git
