defaults
    mode http
#    Cache-Control: no-cache 

frontend http80
    bind *:80
    timeout client 60s
 
    default_backend allservers
 

backend allservers
    balance leastconn
    timeout connect 10s
    timeout server 100s
    server server-laravel webserver:80
    server server-django test_deploy_nginx:80   
    
