defaults
    mode http
#    Cache-Control: no-cache 

frontend http80
    bind *:80
    timeout client 60s

    acl laravel path_end -i /laravel
    acl django path_end -i /django

    use_backend laravelServer if laravel
    use_backend djangoServer if django
 
    default_backend allservers
 

backend laravelServer
    timeout connect 10s
    timeout server 100s
    server server-laravel 127.0.0.1:8001

backend djangoServer
    timeout connect 10s
    timeout server 100s
    server server-django 127.0.0.1:8002
 


backend allservers
    balance leastconn
    timeout connect 10s
    timeout server 100s
    server server-laravel 127.0.0.1:8001
    server server-django 127.0.0.1:8002   
    
